<section class="main-content">
  <div class="banner-wrapper">
    <app-title />
    <div class="input-container">
      <app-input
        name="newTodo"
        placeholder="Create a new todo..."
        [formController]="newTask"
        (onKeyPress)="submitTodo($event)"
      />
    </div>
  </div>

  <div class="taskList-wrapper">
    <ng-container *ngIf="tasks$ | async as tasks">
      <task-list [tasks]="tasks" (filterTasks)="filterTasks($event)" />
    </ng-container>
  </div>
  <div>
    <p>Drag and drop to reorder list</p>
  </div>
</section>
