@import './variables.scss';

.light-theme {
 .banner-wrapper {
      background-image: url('/assets/bg-mobile-light.jpg');
      @media screen and (min-width: $mobile) {
        background-image: url('/assets/bg-desktop-light.jpg');
      }
    }
}

.dark-theme {
    background-color: $vDarkBlue;
    color: $LightGrayishBlue;
    button {
      color: $LightGrayishBlue !important;
    }

    .todoList {
      background-color: $VeryDarkGrayishBlue !important;
    }

 .banner-wrapper {
       background-image: url('/assets/bg-mobile-dark.jpg');
      @media screen and (min-width: $mobile) {
        background-image: url('/assets/bg-desktop-dark.jpg');
      }
    }

    .checkbox-wrapper {
      &::after {
         background-color: $VeryDarkGrayishBlue !important;
      }
    }
}
