// Breakpoints

$mobile: 375px;
$desktop: 1440px;

// Colors

$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

$vLightGray: hsl(0, 0%, 98%);
$vLightGrayBlue: hsl(236, 33%, 92%);
$lightGrayBlue: hsl(233, 11%, 84%);
$darkGrayBlue: hsl(236, 9%, 61%);
$vDarkGrayBlue: hsl(235, 19%, 35%);

$vDarkBlue: hsl(235, 21%, 11%);
$vDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayishBlue: hsl(237, 14%, 26%);

// Font
$fontBody: 18px;
$Josefin:'Josefin Sans', sans-serif;
