@import "../../../styles.scss";

.task {
  input {
    display: none;
  }
}
.task-wrapper {
  padding: 1rem;
  border-bottom: 1px solid $lightGrayBlue;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
}

.checkbox-wrapper {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: white;
  cursor: pointer;
  &::after{
    content: '';
    background-image: $checkBackground;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    z-index: -1;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 10px;
    height: 10px;
  }
}

.checked {
  background-color: transparent;
}

.task-body {
  line-height: 14px;
  cursor: pointer;
}

.task-actions {
  button {

  }
}
