<li class="task" cdkDrag [ngClass]="{ completed: this.isChecked }">
  <div class="task-wrapper">
    <div class="task-checkbox">
      <input
        type="checkbox"
        [name]="id"
        [id]="id"
        (change)="this.updateStatus.emit(this.id)"
      /><label [for]="id">
        <div class="checkbox-wrapper">
          <img src="assets/icon-check.svg" alt="checkbox icon" />
        </div>
      </label>
    </div>
    <div class="task-body" cdkDragHandle>
      <p>{{ this.task }}</p>
    </div>
    <div class="task-actions">
      <button (click)="this.removeTask.emit(this.id)">
        <img src="assets/icon-cross.svg" alt="remove todo icon" />
      </button>
    </div>
  </div>
</li>
