@import '../../../styles.scss';

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.todoList.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag {
  transition:  transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.todoList {
  width: 500px;
  max-width: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 2px 30px $darkGrayBlue;
  background-color: white;
  overflow: hidden;
}


.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  button {
    cursor: pointer;
  }
  p, span {
      font-size: 14px !important;
    }
}

.filter-options {
  display: flex;
  gap: 1rem;
}
